@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@font-face {
  font-family: 'Lato', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1, .h1 {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
}

h2, .h2 {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
}

h3, .h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.7px;
}

.header-under-line {
  width: 100%;
  height: 7px;
  background: #323746;
}

.slider-under-line {
  width: 100%;
  height: 5px;
  background: #ea676b;
  margin-bottom: 50px;
}

.services-under-line {
  width: 100%;
  height: 3px;
  background: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2d303a;
  color: whitesmoke;
  font-weight: 700;
  height: 89px;
  padding: 0 50px;
}
header .logo {
  width: 50%;
  text-transform: uppercase;
}
header .logo__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 6px;
}
header nav {
  width: 40%;
  text-transform: uppercase;
  font-size: 18px;
}
header .rad-text {
  color: #f06c64;
}
header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .nav-menu li {
  list-style: none;
  text-align: center;
}
header .nav-menu li a {
  color: #ffffff;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
}
header .nav-menu li a:active, header .nav-menu li a:hover {
  color: #f06c64;
}
header .nav-menu li .active {
  color: #f06c64;
}
header .nav-menu__dots {
  width: 3px;
  height: 3px;
  margin-top: 5px;
  border-radius: 50%;
  background: #494e62;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f06c64;
  position: relative;
}
.slider::before, .slider::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}
.slider::before {
  left: 15px;
  background-image: url("./asets/left-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.slider::after {
  right: 15px;
  background-image: url("./asets/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.slider .phones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}
.slider .phones__horizontal {
  padding-left: 50px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #767e9e;
  padding: 0 50px;
}
.services h2, .services h3 {
  color: #666d89;
}
.services .title {
  margin-bottom: 30px;
}
.services .subtitle {
  font-weight: 400;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.7px;
}
.services__menu {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  gap: 30px 15px;
  margin-bottom: 50px;
}
.services .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services .menu-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #767e9e;
  border-radius: 50%;
  min-width: 55px;
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.services .menu-list__content h3 {
  margin-bottom: 10px;
}