@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
font-face {
  font-family: 'Lato', sans-serif;
  font-size: 12px; }

h2, .h3 {
  font-size: 30px;
  color: #767e9e; }

h3, .h3 {
  color: #767e9e;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif; }

.portfolio {
  background: #2d303a;
  padding: 60px 40px;
  padding-bottom: 58px; }
  .portfolio nav {
    margin-bottom: 23px;
    padding-left: 1px; }
    .portfolio nav .nav-links {
      display: flex;
      flex-wrap: wrap;
      width: 31%;
      justify-content: space-between;
      list-style: none; }
      .portfolio nav .nav-links .active {
        color: #c9c9c9;
        border-color: #c9c9c9; }
    .portfolio nav .nav-links li a {
      color: #767e9e;
      letter-spacing: 0.5;
      font-size: 12px;
      text-decoration: none;
      border: 1px solid #767e9e;
      padding: 2px 7px;
      border-radius: 5px; }
  .portfolio h2 {
    margin-bottom: 18px; }
  .portfolio h3 {
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 13px; }
  .portfolio__work {
    color: #767e9e;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px 20px;
    justify-items: center;
    margin-bottom: 5px; }

.about-us {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding: 60px 40px; }
  .about-us h2 {
    margin-bottom: 18px; }
  .about-us h3 {
    line-height: 1.7;
    letter-spacing: .35px;
    margin-bottom: 46px; }
  .about-us__persone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; }
  .about-us .persone-item__foto {
    max-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 300px;
    margin-bottom: 12px;
    overflow: hidden; }
    .about-us .persone-item__foto_adam-jensen {
      background-image: url("./asets/photo/photo-1.png");
      background-repeat: no-repeat;
      background-position: center; }
    .about-us .persone-item__foto_desmond-miles {
      background-image: url("./asets/photo/photo-2.png");
      background-repeat: no-repeat;
      background-position: center; }
    .about-us .persone-item__foto_scolara-visari {
      background-image: url("./asets/photo/photo.png");
      background-repeat: no-repeat;
      background-position: center; }
  .about-us .persone-item__name {
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 6px; }
  .about-us .persone-item__short-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 24px;
    color: #767e9e; }
  .about-us .persone-item__social {
    width: 51%;
    display: flex;
    justify-content: space-between; }

.under-line {
  width: 100%;
  height: 7px; }

.under-line_blue {
  background: #323746; }

.under-line_white {
  background: #fff; }
