
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@font-face {
  font-family: 'Lato', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background: #F2F2F2;
}

h2, .h2{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.4px;
  color: #666D89;
}

h3, .h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
}

.under-line {
  width: 100%;
  height: 7px; 
}

.under-line_blue {
  background: #323746; 
}

.under-line_white {
  background: #fff; 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(45, 48, 58);
  color: whitesmoke;
  font-weight: 700;
  height: 95px;
  padding: 0 38px;
  padding-top: 5px;

  border-bottom: 7px solid #323746;

  .logo {
    width: 50%;
    text-transform: uppercase;

    &__title{
      padding-left: 1px;
      margin-top: -4px;
      letter-spacing: -0.4px;
      font-size: 25px;
      font-weight: 700;
      line-height: 6px;

      a{
        color: #ffffff;
      }
    }
  }

  nav {
    width: 374px;
    text-transform: uppercase;
    font-size: 18px;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    
      li {
        list-style: none;
        text-align: center;
        
        a {
          color: #ffffff;
          font-size: 12px;
          line-height: 6px;
          font-weight: 700;
  
          &:active, 
          &:hover {
            color: #f06c64;
          }
        }
  
        .active {
          color: #f06c64;
        }
      }
    
      &__dots{
        width: 2px;
        height: 2px;
        margin-top: 5px;
        border-radius: 50%;
        background: #494e62;
      }
    }
  }

  .rad-star {
    color: #f06c64;
  }
}

.corusel-container {
  width: 1020px;
  position: relative;
  border-bottom: hsl(358, 76%, 66%) 5px solid;
  overflow: hidden;
  height: 600px;

  .corusel-slide{
    position: relative;
    left: 0;
    overflow: hidden;
    height: 100%;
  }

  .item {
    float: left;
  }

  .arrow-back,
  .arrow-next {
    position: absolute;
    width: 20px;
    height: 40px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    cursor: pointer;
  }

  .arrow-back {
    left: 40px;
    background-image: url('./asets/left-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .arrow-next {
    right: 38px;
    background-image: url('./asets/right-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .phones {
    width: 1020px;
    height: 100%;
    background: #f06c64;
    display: flex;
    justify-content: center;
    align-items: center;
   

    &__horizontal {
      position: relative;
      padding-left: 55px;
       margin-bottom: 3px;

       .blackscreen_h{
        width: 195px;
        height: 336px;
        position: absolute;
        right: 160px;
        top: -58px;
        background: black;
        z-index: 99;
        visibility: hidden;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
     }

      #home_horizontal {
        position: absolute;
        z-index: 99;
        top: 85px;
        left: 62px;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .active {
        visibility: visible;
      }
    }

    &__vertical{
      position: relative;
      padding-right: 18px;
       margin-bottom: 3px;

      .blackscreen{
        width: 195px;
        height: 336px;
        position: absolute;
        left: 10px;
        top: 63px;
        background: black;
        z-index: 99;
        visibility: hidden;
       }

       #home {
        position: absolute;
        z-index: 99;
        bottom: 35px;
        left: 85px;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .active {
        visibility: visible;
      }
    }
  }

  .blue-screen {
    width: 1020px;
    height: 100%;
    background: #648BF0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .phones-left{
      position: absolute;
      top: 161px;
      left: 243px;
    }

    .phones-center{
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, -0%);

      .blackscreen_blue-h{
        width: 205px;
        height: 363px;
        position: absolute;
        left: 13px;
        top: 63px;
        background: black;
        z-index: 99;
        visibility: hidden;
      }

      #home-btn{
        position: absolute;
        z-index: 99;
        bottom: 35px;
        left: 90px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .active {
        visibility: visible;
      }
    }

    .phones-right{
      position: absolute;
      top: 160px;
      right: 251px;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  border-bottom: 7px solid #ffffff;
  color: #767e9e;
  padding: 0 40px;
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 11px;

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle {
    margin-bottom: 37px;
  }

  &__menu {
    display: grid;
    grid-template: 100px 100px/ 1fr 1fr 1fr;
    gap: 26px 19px;
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .menu-list {
    display: flex;
    overflow: hidden;

    &:nth-of-type(n){
      color: green !important;
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #767e9e;
      border-radius: 50%;
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 15px;
    }

    &__content {
      padding-left: 4px;

      h3 {
        margin-top: -7px;
        margin-bottom: 3px;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }

  .pt-1 {
    margin-top: -4px;
  }
}

.portfolio {
  background: #2d303a;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 67px;

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle{
    margin-bottom: 11px;
  }

  nav {
    margin-bottom: 23px;
    padding-left: 1px; 
  }

  &__tags-menu {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-bottom: 19px;

    .tag {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #767E9E;
      border: 1px solid #767E9E;
      border-radius: 5px;
      padding: 4px 6px;

      &:hover {
        cursor: pointer;
        border-color: #BBBBBB;
        color: #BBBBBB;
      }
    }

    .active {
      border-color: #BBBBBB;
      color: #BBBBBB;
    }
  }

  &__work {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 17px 20px;
    justify-items: center;
    height: 600px;
    overflow: hidden;
  }
}

.about-us{
  display: flex;
  flex-direction: column;
  background: #f2f2f2;

  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 69px;
  

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle {
    margin-bottom: 44px;
  }

  &__persone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
  }

  .persone-item__foto {
    max-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 300px;
    margin-bottom: 18px;
    overflow: hidden; 

      &_adam-jensen {
        background-image: url("./asets/photo/photo-1.png");
        background-repeat: no-repeat;
        background-position: center; 
      }

      &_desmond-miles {
        background-image: url("./asets/photo/photo-2.png");
        background-repeat: no-repeat;
        background-position: center; 
      }

      &_scolara-visari {
        background-image: url("./asets/photo/photo.png");
        background-repeat: no-repeat;
        background-position: center; 
      }
    }

  .persone-item__name {
    height: 18px;
    overflow: hidden;
    margin-bottom: 11px;
    letter-spacing: -0.3px;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
  }

  .persone-item__short-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 25px;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.1px;
    height: 40px;
    overflow: hidden;
  }

  .persone-item__social {
    width: 152px;
    padding-top: 1px;
    display: flex;
    justify-content: space-between; 
  }
  }

.form-quote {
  background: #f06c64;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 20px;

  &__title{
    margin-bottom: 18px;
    color: #F0D8D9;
  }

  &__subtitle{
    margin-bottom: 20px;
    color: #F0D8D9;
  }

  .row {
    display: flex;

    .col {
      display: flex;
      flex-direction: column;
    }

    .col-form{
      padding-top: 22px;
      width: 66%;
    }

    .contacts{
      font-size: 12px;
      letter-spacing: 0.2px;
      width: 34%;
      padding: 18px;

      &__titel {
        font-weight: 900;
        letter-spacing: 0px;
        margin-bottom: 5px;
        color: #F0D8D9;
      }

      &__miniarticle {
        margin-bottom: 25px;
        letter-spacing: -0.5px;
        color: #F0D8D9;
      }

      &__info {
        display: flex;
        flex-direction: column;

        &-location{
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0;

          img {
            margin-left: 4px;
            margin-right: 10px;
          }
        }

        &-phone{
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0;

          img {
            margin-left: 2px;
            margin-right: 8px;
          }
        }

        &-mail{
          color: #F0D8D9;
          letter-spacing: 0;

          img {
            margin-right: 9px;
          }
        }
      }
    }
  }

// FORM 
  #getQuote {
    display: flex;
    flex-direction: column;
    color: #c9c9c9;
    padding-top: 3px;

    input[type=text],
    input[type=email],
    textarea[name=describe] {
      color: #f48c8f;
    }

    input {
      border: none;
      background: #d6564f;
      border-radius: 5px;
      height: 38px;
      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 5px 14px;

      &::placeholder {
        color: #f48c8f;
      }
    }

    textarea {
      height: 200px;
      border: none;
      background: #d6564f;
      border-radius: 5px;

      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 12px 14px;

      &::placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f;
      }
    }

    .submit-btn {
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      width: 136px;
      height: 38px;
      background: #FBC65F;
      color: wheat;
      border-radius: 5px;
    }
  }

// Addres INFO
}

footer {
  display: flex;
  justify-content: space-between;
  background: #2d303a;
  align-items: center;
  padding: 20px 45px 20px 45px ;

  .social {
    display: flex;
    justify-content: space-around;
    width: 158px;
    position: relative;
    right: -7px;
  }

  .corp {
    font-size: 12px;
    color: #666d89;
    position: relative;
    left: -5px;
  }
}