
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@font-face {
  font-family: 'Lato', sans-serif;
  src: format();
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h1, .h1 {
  font-family: Lato;
  font-style: normal;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.4px;
}

h2, .h2{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.4px;
  color: #666D89;
}

h3, .h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
}

// blocks
.main { 
  position: relative;
  background: #F2F2F2;
}

.content-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 375px ){
    padding: 0 30px;
  }
}

.padding-0 {
  padding: 0 !important;
}

.bg-darkblue{
  background: #2d303a;
}

.bg-pink{
  background: #f06c64;;
}

.under-line {
  width: 100%;
  height: 6px;
}

.under-line_blue {
  background: #323746;
}

.under-line_white {
  background: #fff; 
}

.under-line_pink {
  background: #EA676B;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(45, 48, 58);
  color: whitesmoke;
  font-weight: 700;
  padding: 1.7em 0;

  .logo {
    text-transform: uppercase;
    z-index: 999;
    position: relative;

    &__title{
      color: #ffffff;
      padding-bottom: 6px;
      padding-left: 2px;
    }
  }

  .overlay-nav-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    opacity: 0.6;
    background: #2D303A;

    visibility: hidden;
  }

  .hamburger {
    height: 20px;
    left: 23px;
    top: 28px;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .7s;

    .line {
      width: 25px;
      height: 2.4px;
      border-radius: 5px;
      background: #fff;
    }
  }

  nav {
    width: 374px;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    transition: all 0.7;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    
      li {
        list-style: none;
        text-align: center;
        
        a {
          color: #ffffff;
          font-size: 12px;
          line-height: 6px;
          font-weight: 700;
  
          &:active, 
          &:hover {
            color: #f06c64;
          }
        }
  
        .active {
          color: #f06c64;
        }
      }
    
      &__dots{
        width: 2px;
        height: 2px;
        margin-top: 5px;
        border-radius: 50%;
        background: #494e62;
      }
    }
  }

  .rad-star {
    color: #f06c64;
  }

  @media screen and (max-width: 375px) {
    padding: 1.3em 0;
    justify-content: center;

    .hamburger {
      visibility: visible;
      z-index: 999;
    }

    .active {
      transform: rotate(90deg);
    }

    .logo_active{
      left: -10px;
    }

    .nav_active{
      left: 0;
    }

    .overlay-nav-menu_active {
      visibility: visible;
    }

    nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    z-index: 99;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

      ul#menu {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;
        line-height: 29px;
        height: 260px;

        li>a {
          font-size: 24px;

        }
      }
    }
  }
}

// Caourosel
.container {
  position: relative;
  width: 100%;
  height: 600px;

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    // 	кол-во элем * 100%
    width: 200%;
    height: 100%;
    flex-shrink: 0;
    transition: all .7s;

    section {
      // width одного элем в ленте слайдов. flex: shrink; = width
      width: 50%;
      flex: 1 50% 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slide-1 {
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // padding: 0 40px;
      .phone {
        position: relative;

        .black-screen {
          position: absolute;
          content: '';
          width: 190px;
          height: 335px;
          background: #000;


          @media screen and (max-width:768px) {
            width: 142px;
            height: 249px;
          }

          @media screen and (max-width: 375px) {
            width: 72px;
            height: 122px;
          }
        }
      }

      .phone-vert {
        margin-right: 60px;
        
        .black-screen {
          top: 62px;
          left: 13px;
          // visibility: hidden;
        }

        @media screen and (max-width: 768px){
          margin-right: 25px;

          img {
            width: 180px;
            height: 360px;
          }

          .black-screen {
            top: 48px;
            left: 10px;
          }
        }

        @media screen and (max-width: 375px){
          margin-right: 10px;

          img {
            width: 90px;
            height: 177px;
          }

          .black-screen {
            top: 24px;
            left: 5px;
          }
        }
      }

      .phone-horiz {
        .black-screen {
          top: -60px;
          right: 163px;
          transform: rotate(90deg);
          // visibility: hidden;
        }

        @media screen and (max-width: 768px){
          img {
            width: 360px;
            height: 180px;
          }

          .black-screen {
            top: -43px;
            left: 98px;          
          }
        }

        @media screen and (max-width: 375px){
          img {
            width: 177px;
            height: 88px;
          }

          .black-screen {
            top: -22px;
            left: 48px;
          }
        }
      }
    }
  }

// CONTROLLERS
  .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;

    @media screen and (max-width: 375px) {
      img {
        width: 14px;
      }
    }
  }

  .prev {
    left: 15px;
    
  }

  .next {
    right: 15px;
  }

  @media screen and (max-width: 768px) {
    .container {
      height: 447px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      height: 220px;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  color: #767e9e;
  padding-top: 60px;
  padding-bottom: 11px;

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle {
    margin-bottom: 37px;
  }

  &__menu {
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 20px;
    margin-bottom: 35px;

    @media screen and (max-width: 768px) {
      grid-template-areas: "a a";
    }

    @media screen and (max-width: 375px) {
      grid-template-areas: "a";
    }
  }

  .menu-list {
    display: flex;
    overflow: hidden;

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #767e9e;
      border-radius: 50%;
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 15px;
    }

    &__content {
      padding-left: 4px;

      h3 {
        margin-top: -7px;
        margin-bottom: 3px;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }

  .pt-1 {
    margin-top: -4px;
  }
}

.portfolio {
  background: #2d303a;
  padding-top: 60px;
  padding-bottom: 67px;

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle{
    margin-bottom: 11px;
  }

  nav {
    margin-bottom: 23px;
    padding-left: 1px; 
  }

  &__tags-menu {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-bottom: 13px;

    .tag {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #767E9E;
      border: 1px solid #767E9E;
      border-radius: 5px;
      padding: 4px 6px;

      &:hover {
        cursor: pointer;
        border-color: #BBBBBB;
        color: #BBBBBB;
      }
    }

    .active {
      border-color: #BBBBBB;
      color: #BBBBBB;
    }
  }

  &__work {
    display: grid;
    grid-template-areas:"a a a a"
                        "a a a a"
                        "a a a a";
    grid-gap: 10px;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      grid-template-areas:"a a a"
                          "a a a"
                          "a a a"
                          "a a a";
    }

    @media screen and (max-width: 375px) {
      grid-template-areas:"a a"
                          "a a"
                          "a a"
                          "a a";
    }

    .work-item {
      cursor: pointer;

      img {
        width: 100%;
        border: solid 5px transparent;
      }

      .active {
        border: solid 5px #F06C64;
      }
    }

    
  }
}

.about-us{
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 69px;
  

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle {
    margin-bottom: 44px;
  }

  &__persone {
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 20px;

    @media screen and (max-width: 375px) {
      grid-template-areas: "a";
    }
  }

  .persone-item__foto {
    margin-bottom: 18px;

    img {
      width: 100%;
    }
  }

  .persone-item__name {
    height: 18px;
    overflow: hidden;
    margin-bottom: 11px;
    letter-spacing: -0.3px;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
  }

  .persone-item__short-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 25px;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.1px;
    height: 40px;
    overflow: hidden;
  }

  .persone-item__social {
    width: 152px;
    padding-top: 1px;
    display: flex;
    justify-content: space-between; 
  }
  }

.form-quote {
  background: #f06c64;
  padding-top: 60px;
  padding-bottom: 20px;

  &__title{
    margin-bottom: 18px;
    color: #F0D8D9;
  }

  &__subtitle{
    margin-bottom: 20px;
    color: #F0D8D9;
  }

  &__wrapper {
    display: flex;

    .wrap {
      display: flex;
      flex-direction: column;
    }

    .form{
      padding-top: 22px;
      width: 66%;
    }

    .contacts{
      font-size: 12px;
      letter-spacing: 0.2px;
      width: 34%;
      padding: 18px;

      &__titel {
        font-weight: 900;
        letter-spacing: 0px;
        margin-bottom: 5px;
        color: #F0D8D9;
      }

      &__miniarticle {
        margin-bottom: 25px;
        letter-spacing: -0.5px;
        color: #F0D8D9;
      }

      &__info {
        display: flex;
        flex-direction: column;

        &-location{
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0;

          img {
            margin-left: 4px;
            margin-right: 10px;
          }
        }

        &-phone{
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0;

          img {
            margin-left: 2px;
            margin-right: 8px;
          }
        }

        &-mail{
          color: #F0D8D9;
          letter-spacing: 0;

          img {
            margin-right: 9px;
          }
        }
      }
    }
  }

// FORM 
  #getQuote {
    display: flex;
    flex-direction: column;
    color: #c9c9c9;
    padding-top: 3px;

    input[type=text],
    input[type=email],
    textarea[name=describe] {
      color: #f48c8f;
    }

    input {
      border: none;
      background: #d6564f;
      border-radius: 5px;
      height: 38px;
      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 5px 14px;

      &::placeholder {
        color: #f48c8f;
      }
    }

    textarea {
      height: 200px;
      border: none;
      background: #d6564f;
      border-radius: 5px;

      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 12px 14px;

      &::placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f;
      }
    }

    .submit-btn {
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      width: 136px;
      height: 38px;
      background: #FBC65F;
      color: wheat;
      border-radius: 5px;
    }

    @media screen and (max-width: 375px) {
      .submit-btn {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 375px) {
    &__wrapper {
      flex-direction: column;
    }

    .wrap {
      width: 100%;
    }
  }
// Addres INFO
}

footer {
  display: flex;
  justify-content: space-between;
  background: #2d303a;
  align-items: center;
  padding: 20px  0 ;

  .social {
    display: flex;
    justify-content: space-around;
    width: 158px;
    position: relative;
  }

  .corp {
    font-size: 12px;
    color: #666d89;
    position: relative;
  }

  @media screen and (max-width: 375px) {
    justify-content: center;

    .corp {
      display: none;
    }
  }
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .9;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 340px;
    max-width: 500px;
    min-height: 200px;
    background: #ccc;
    overflow: hidden;
    border-radius: 5px;
    padding: 22px;
    padding-bottom: 50px;
  
    
    p {
      font-size: 15px;
      color: #0c0d0e;
      text-align: justify;
      word-break: break-word;
    }

    &__mail-text {
      height: 200px;
      overflow-y: scroll;
    }
  }

  #modal__btn {
    position: absolute;
    bottom: 15px;
    right: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
  }
}