@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@font-face {
  font-family: 'Lato', sans-serif; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background: #F2F2F2; }

h2, .h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.4px;
  color: #666D89; }

h3, .h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E; }

a {
  text-decoration: none;
  cursor: pointer; }

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E; }

.under-line {
  width: 100%;
  height: 7px; }

.under-line_blue {
  background: #323746; }

.under-line_white {
  background: #fff; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2d303a;
  color: whitesmoke;
  font-weight: 700;
  height: 95px;
  padding: 0 38px;
  padding-top: 5px;
  border-bottom: 7px solid #323746; }
  header .logo {
    width: 50%;
    text-transform: uppercase; }
    header .logo__title {
      padding-left: 1px;
      margin-top: -4px;
      letter-spacing: -0.4px;
      font-size: 25px;
      font-weight: 700;
      line-height: 6px; }
      header .logo__title a {
        color: #ffffff; }
  header nav {
    width: 374px;
    text-transform: uppercase;
    font-size: 18px; }
    header nav .nav-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      header nav .nav-menu li {
        list-style: none;
        text-align: center; }
        header nav .nav-menu li a {
          color: #ffffff;
          font-size: 12px;
          line-height: 6px;
          font-weight: 700; }
          header nav .nav-menu li a:active, header nav .nav-menu li a:hover {
            color: #f06c64; }
        header nav .nav-menu li .active {
          color: #f06c64; }
      header nav .nav-menu__dots {
        width: 2px;
        height: 2px;
        margin-top: 5px;
        border-radius: 50%;
        background: #494e62; }
  header .rad-star {
    color: #f06c64; }

.corusel-container {
  width: 1020px;
  position: relative;
  border-bottom: #ea666b 5px solid;
  overflow: hidden;
  height: 600px; }
  .corusel-container .corusel-slide {
    position: relative;
    left: 0;
    overflow: hidden;
    height: 100%; }
  .corusel-container .item {
    float: left; }
  .corusel-container .arrow-back,
  .corusel-container .arrow-next {
    position: absolute;
    width: 20px;
    height: 40px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 10;
    cursor: pointer; }
  .corusel-container .arrow-back {
    left: 40px;
    background-image: url("./asets/left-arrow.png");
    background-repeat: no-repeat;
    background-position: center; }
  .corusel-container .arrow-next {
    right: 38px;
    background-image: url("./asets/right-arrow.png");
    background-repeat: no-repeat;
    background-position: center; }
  .corusel-container .phones {
    width: 1020px;
    height: 100%;
    background: #f06c64;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .corusel-container .phones__horizontal {
      position: relative;
      padding-left: 55px;
      margin-bottom: 3px; }
      .corusel-container .phones__horizontal .blackscreen_h {
        width: 195px;
        height: 336px;
        position: absolute;
        right: 160px;
        top: -58px;
        background: black;
        z-index: 99;
        visibility: visible;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
      .corusel-container .phones__horizontal #home_horizontal {
        position: absolute;
        z-index: 99;
        top: 85px;
        left: 62px;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%; }
    .corusel-container .phones__vertical {
      position: relative;
      padding-right: 18px;
      margin-bottom: 3px; }
      .corusel-container .phones__vertical .blackscreen {
        width: 195px;
        height: 336px;
        position: absolute;
        left: 10px;
        top: 63px;
        background: black;
        z-index: 99;
        visibility: visible; }
      .corusel-container .phones__vertical #home {
        position: absolute;
        z-index: 99;
        bottom: 35px;
        left: 85px;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 50%; }
  .corusel-container .blue-screen {
    width: 1020px;
    height: 100%;
    background: #648BF0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .corusel-container .blue-screen .phones-left {
      position: absolute;
      top: 161px;
      left: 243px; }
    .corusel-container .blue-screen .phones-center {
      position: absolute;
      top: 50px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%); }
      .corusel-container .blue-screen .phones-center .blackscreen_blue-h {
        width: 205px;
        height: 363px;
        position: absolute;
        left: 13px;
        top: 63px;
        background: black;
        z-index: 99;
        visibility: visible; }
      .corusel-container .blue-screen .phones-center #home-btn {
        position: absolute;
        z-index: 99;
        bottom: 35px;
        left: 90px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
    .corusel-container .blue-screen .phones-right {
      position: absolute;
      top: 160px;
      right: 251px; }
  .corusel-container .active {
    visibility: hidden !important; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 7px solid #ffffff;
  color: #767e9e;
  padding: 0 40px;
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 11px; }
  .services__title {
    margin-bottom: 18px; }
  .services__subtitle {
    margin-bottom: 37px; }
  .services__menu {
    display: grid;
    grid-template: 100px 100px/ 1fr 1fr 1fr;
    gap: 26px 19px;
    margin-top: 10px;
    margin-bottom: 35px; }
  .services .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
    .services .menu-list:nth-of-type(n) {
      color: green !important; }
    .services .menu-list__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid #767e9e;
      border-radius: 50%;
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 15px; }
    .services .menu-list__content {
      padding-left: 4px; }
      .services .menu-list__content h3 {
        margin-top: -7px;
        margin-bottom: 3px;
        font-weight: 900;
        font-size: 18px; }
  .services .pt-1 {
    margin-top: -4px; }

.portfolio {
  background: #2d303a;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 67px; }
  .portfolio__title {
    margin-bottom: 18px; }
  .portfolio__subtitle {
    margin-bottom: 11px; }
  .portfolio nav {
    margin-bottom: 23px;
    padding-left: 1px; }
  .portfolio__tags-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 290px;
    margin-bottom: 19px; }
    .portfolio__tags-menu .tag {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #767E9E;
      border: 1px solid #767E9E;
      border-radius: 5px;
      padding: 4px 6px; }
  .portfolio__work {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 17px 20px;
    justify-items: center;
    height: 600px;
    overflow: hidden; }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 69px; }
  .about-us__title {
    margin-bottom: 18px; }
  .about-us__subtitle {
    margin-bottom: 44px; }
  .about-us__persone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; }
  .about-us .persone-item__foto {
    max-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 300px;
    margin-bottom: 18px;
    overflow: hidden; }
    .about-us .persone-item__foto_adam-jensen {
      background-image: url("./asets/photo/photo-1.png");
      background-repeat: no-repeat;
      background-position: center; }
    .about-us .persone-item__foto_desmond-miles {
      background-image: url("./asets/photo/photo-2.png");
      background-repeat: no-repeat;
      background-position: center; }
    .about-us .persone-item__foto_scolara-visari {
      background-image: url("./asets/photo/photo.png");
      background-repeat: no-repeat;
      background-position: center; }
  .about-us .persone-item__name {
    height: 18px;
    overflow: hidden;
    margin-bottom: 11px;
    letter-spacing: -0.3px;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px; }
  .about-us .persone-item__short-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 25px;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.1px;
    height: 40px;
    overflow: hidden; }
  .about-us .persone-item__social {
    width: 152px;
    padding-top: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.form-quote {
  background: #f06c64;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 20px; }
  .form-quote__title {
    margin-bottom: 18px;
    color: #F0D8D9; }
  .form-quote__subtitle {
    margin-bottom: 20px;
    color: #F0D8D9; }
  .form-quote .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form-quote .row .col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .form-quote .row .col-form {
      padding-top: 22px;
      width: 66%; }
    .form-quote .row .contacts {
      font-size: 12px;
      letter-spacing: 0.2px;
      width: 34%;
      padding: 18px; }
      .form-quote .row .contacts__titel {
        font-weight: 900;
        letter-spacing: 0px;
        margin-bottom: 5px;
        color: #F0D8D9; }
      .form-quote .row .contacts__miniarticle {
        margin-bottom: 25px;
        letter-spacing: -0.5px;
        color: #F0D8D9; }
      .form-quote .row .contacts__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .form-quote .row .contacts__info-location {
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0; }
          .form-quote .row .contacts__info-location img {
            margin-left: 4px;
            margin-right: 10px; }
        .form-quote .row .contacts__info-phone {
          color: #F0D8D9;
          margin-bottom: 7px;
          letter-spacing: 0; }
          .form-quote .row .contacts__info-phone img {
            margin-left: 2px;
            margin-right: 8px; }
        .form-quote .row .contacts__info-mail {
          color: #F0D8D9;
          letter-spacing: 0; }
          .form-quote .row .contacts__info-mail img {
            margin-right: 9px; }
  .form-quote #getQuote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #c9c9c9;
    padding-top: 3px; }
    .form-quote #getQuote input[type=text],
    .form-quote #getQuote input[type=email],
    .form-quote #getQuote textarea[name=describe] {
      color: #f48c8f; }
    .form-quote #getQuote input {
      border: none;
      background: #d6564f;
      border-radius: 5px;
      height: 38px;
      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 5px 14px; }
      .form-quote #getQuote input::-webkit-input-placeholder {
        color: #f48c8f; }
      .form-quote #getQuote input:-ms-input-placeholder {
        color: #f48c8f; }
      .form-quote #getQuote input::-ms-input-placeholder {
        color: #f48c8f; }
      .form-quote #getQuote input::placeholder {
        color: #f48c8f; }
    .form-quote #getQuote textarea {
      height: 200px;
      border: none;
      background: #d6564f;
      border-radius: 5px;
      font-size: 10px;
      letter-spacing: 0.8px;
      margin-bottom: 16px;
      padding: 12px 14px; }
      .form-quote #getQuote textarea::-webkit-input-placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f; }
      .form-quote #getQuote textarea:-ms-input-placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f; }
      .form-quote #getQuote textarea::-ms-input-placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f; }
      .form-quote #getQuote textarea::placeholder {
        font-family: 'Lato', sans-serif;
        color: #f48c8f; }
    .form-quote #getQuote .submit-btn {
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      width: 136px;
      height: 38px;
      background: #FBC65F;
      color: wheat;
      border-radius: 5px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2d303a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 45px 20px 45px; }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 158px;
    position: relative;
    right: -7px; }
  footer .corp {
    font-size: 12px;
    color: #666d89;
    position: relative;
    left: -5px; }

/*# sourceMappingURL=style.css.map */